
.weatherapp__form {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px 0 15px;
  margin-top: 2em;

  .weatherapp__header {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .weatherapp__input {
    height: 30px;
    border-radius: 2em;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 0.5em;
    border: 1px solid hotpink;
  }

  .weatherapp__button {
    font-weight: 700;
    width: 50%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid pink;
    -webkit-box-shadow: 3px 2.5px 8px 0 rgba(5, 0, 0, 0.5);
    -moz-box-shadow: 3px 2.5px 8px 0 rgba(5, 0, 0, 0.5);
    box-shadow: 3px 2.5px 8px 0 rgba(5, 0, 0, 0.5);


  }

  .weatherapp__button:hover {
    animation-name: text-button;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

}

@keyframes text-button {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
